body {
    background-color: #FEF5EF;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
    color: #312F2F;
    margin: 0;
}

#navbar {
    width: 100%;
    background-color: #b7d5a1;
    display: flex;
    align-items: center;
    justify-content: left;
}

#navbar > a {
    font-size: 16px;
    padding: 10px;
    color: #312F2F;
}

#navbar > img {
    width: 30px;
    padding: 5px;
}

a.current {
    background-color: #F69C88;
}